################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MedicalAppointments/.vs/MedicalAppointments
/MedicalAppointments/MedicalAppointments/App_Data
/MedicalAppointments/MedicalAppointments.DataAccess/bin/Debug
/MedicalAppointments/MedicalAppointments.Tests/bin/Debug
/MedicalAppointments/MedicalAppointments.Web.Api/bin
/MedicalAppointments/MedicalAppointments.Web.Api/App_Data
/MedicalAppointments/MedicalAppointments.Web.Api.Test/bin/Debug
