@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Medical Appointment App! </h1>
    <p class="lead">Medical Appointment App will help you to manage your patient appointments, allowing you easily to create and cancel medical appointments.</p>
    @Html.ActionLink("Login", "Login", "Account")
</div>